<div ng-show="!$cellSeatsCtrl.editMode">{{$cellSeatsCtrl.item.crewSeats}}/{{$cellSeatsCtrl.item.passengerSeats}}</div>

<div ng-if="$cellSeatsCtrl.editMode">

    <div>{{$cellSeatsCtrl.item.crewSeats}}/{{$cellSeatsCtrl.item.passengerSeats}}</div>

    <div ng-if="!$cellSeatsCtrl.coll.readonly" style="display: inline-flex;">
        <input class="form-control" type="number" ng-model="$cellSeatsCtrl.item.crewSeats">/<input class="form-control"
                                                                                                   type="number"
                                                                                                   ng-model="$cellSeatsCtrl.item.passengerSeats">
    </div>
</div>