<div class="row">
    <div class="col-md-4 col-md-offset-5"><h1>Risk Details Capture</h1></div>
</div>

<div ng-controller="riskDetailsCaptureController as riskCtrl">
    <div class="row block-button">
        <div class="col-md-3 col-md-offset-9 button-fixed">
            <button ng-show="!riskCtrl.editMode" class="button-edit-mode btn-primary btn"
                    ng-click="riskCtrl.openEditMode($event)">Edit Mode</button>
            <button ng-show="riskCtrl.editMode" class="button-edit-mode btn-info btn"
                    ng-click="riskCtrl.saveRiskDetails()">Save</button>
            <button ng-show="riskCtrl.editMode" class="button-edit-mode btn-info btn"
                    ng-click="riskCtrl.exitWithoutChanges()">Exit without saving</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="risk-table">
                <table class="table-striped table">
                    <thead>
                    <tr>
                        <th class="header">#</th>
                        <th class="header" ng-repeat="coll in riskCtrl.colls">{{coll.header}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="risk in riskCtrl.riskDetailsCapture">
                        <td>{{$index + 1}}</td>
                        <td ng-repeat="coll in riskCtrl.colls">
                            <div ng-switch="coll.type">
                                <cell-seats ng-switch-when="seats" item="risk[coll.name]" coll="coll" edit-mode="riskCtrl.editMode"></cell-seats>
                                <cell-text ng-switch-when="text" item="risk[coll.name]" coll="coll" edit-mode="riskCtrl.editMode"></cell-text>
                                <cell-number ng-switch-when="number" item="risk[coll.name]" coll="coll" edit-mode="riskCtrl.editMode"></cell-number>
                                <cell-percentage ng-switch-when="percent" item="risk[coll.name]" coll="coll" edit-mode="riskCtrl.editMode"></cell-percentage>
                                <cell-bool ng-switch-when="bool" item="risk[coll.name]" coll="coll" edit-mode="riskCtrl.editMode"></cell-bool>
                                <cell-object ng-switch-when="object" item="risk[coll.name]" coll="coll" edit-mode="riskCtrl.editMode"></cell-object>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 col-md-offset-5 button-fixed">
            <ul class="paging pagination">
                <li><a ng-click="riskCtrl.onClickedPage('previous')">Previous</a></li>
                <li ng-repeat="page in riskCtrl.pages" ng-class="riskCtrl.getClassForPaging(page)"><a
                        ng-click="riskCtrl.onClickedPage(page)">{{page+1}}</a></li>
                <li><a ng-click="riskCtrl.onClickedPage('next')">Next</a></li>
            </ul>
        </div>
    </div>
</div>
